.DS_Store
Thumbs.db
*.log
tmp/
node_modules/
.vscode/
.gemini/

# Videos
# Wir ignorieren alle groen Videodateien komplett fr Git,
# damit sie nicht das IONOS-Speicherlimit sprengen.
# Der Upload der Videos erfolgt stattdessen manuell per SFTP.
*.mov
*.webm
*.mp4
